# Semana 04
Edison German Ames Medina

Agenda
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso por el teclado
5. Operaciones

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
#Universidad Nacional Tecnológica de Lima Sur
#0123....
#                                  ....-3-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[-23]

'T'

In [5]:
#Para mostrar una subcadena [desde, hasta una antes]
#En java: substring[]
cadena[3:8]

'versi'

In [6]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [7]:
#Para mostrar una cadena en mayuscula upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [8]:
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [9]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [12]:
# Generar una lista a partir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [13]:
#Generar una lista utilizando un criterio de separación a partir de una cadena.split()
#En este caso vamos a generar una lista de toda la cadena,
#utilizando como criterio de separación la letra "i"
cadena.split("i")

['Un', 'vers', 'dad Nac', 'onal Tecnológ', 'ca de L', 'ma Sur']

In [14]:
#Utilizando el .format()
nombre = "German Ames"
edad = 20
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola German Ames ya se que tienes 20 años

In [15]:
#Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.2f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.33

In [19]:
#Dar formato con f
#La función f, está disponible desde la versión 3.6
nombre = "Rendon Willka"
edad = 35
print(f"Buenos días {nombre}, ya se que tienes {edad} años")

Buenos días Rendon Willka, ya se que tienes 35 años

In [17]:
#Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.2f}")

10/3 es = 3.3333333333333335
10/3 es = 3.33